<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
    <title>The Weird Web</title>
  </head>
  <body>
    <loop>
  <audio autoplay loop>
    <source src="audio/ie_Short_Cow_MooMeow_Mix_Comm-KevanGC-2007570186.mp3" type="audio/mp3">
    <source src="audio/ie_Short_Cow_MooMeow_Mix_Comm-KevanGC-2007570186.ogg" type="audio/ogg">
  </audio>
</loop>
<div style="display:none">
   <embed src="ie_Short_Cow_MooMeow_Mix_Comm-KevanGC-2007570186.mp3"/>
</div>
<iframe src="/link" frameborder="0"></iframe>
  </body>
</html>
