<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="2">
    <meta charset="utf-8">
    <title>The Boring Web</title>
  </head>
  <body>

    <a href="<%=@link%>" target="_blank"> go </a>
  </body>
</html>
