<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="1">
    <meta charset="utf-8">
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
    <title>The Weird Web</title>
  </head>
  <body>
    <a href="<%=@link%>" target="_blank"> Take me somewhere weird </a>
  </body>
</html>
