<!DOCTYPE html>
<html>
  <head>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>

<link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-4"> <img src="images/1x1.jpg" alt="" /></div>
        <div class="col-md-4"> <img src="images/1x2.gif" alt="" /></div>
        <div class="col-md-4"> <img src="images/1x3.jpg" id="djcat" alt="" /></div>
      </div>
      <div class="row">
        <div class="col-md-4"> <img src="images/2x1.gif" alt="" /></div>
        <div class="col-md-4"><iframe src="/link" frameborder="0" scrolling="no"></iframe></iframe> </div>
        <div class="col-md-4"> <img src="images/2x3.gif" alt="" /></div>
      </div>
      <div class="row">
        <div class="col-md-4"> <img src="images/3x1.gif" alt="" /></div>
        <div class="col-md-4"> <img src="images/3x2.gif" id="hedgehog" alt="" /></div>
        <div class="col-md-4"> <img src="images/3x3.gif" alt="" /></div>
      </div>

    </div>
    <loop>
  <audio autoplay loop>
    <source src="audio/ie_Short_Cow_MooMeow_Mix_Comm-KevanGC-2007570186.mp3" type="audio/mp3">
    <source src="audio/ie_Short_Cow_MooMeow_Mix_Comm-KevanGC-2007570186.ogg" type="audio/ogg">
  </audio>
</loop>

  </body>
</html>
